{% extends "layout.html" %}

{% block title %}問題シリーズ登録{% endblock %}

{% block content %}
	<form method="post">
		<p>
			問題シリーズ登録：
			<select size="1" name="series_id">
				<option value=1>1</option>
				<option value=2>2</option>
				<option value=3>3</option>
				<option value=4>4</option>
				<option value=5>5</option>
				<option value=6>6</option>
				<option value=7>7</option>
				<option value=8>8</option>
				<option value=9>9</option>
			</select>
		</p>
		<p>
			問題数登録：
			<select size="1" name="question_count">
				<option value=1>1</option>
				<option value=2>2</option>
				<option value=3>3</option>
				<option value=4>4</option>
				<option value=5>5</option>
				<option value=6>6</option>
				<option value=7>7</option>
				<option value=8>8</option>
				<option value=9>9</option>
			</select>
		</p>
		<input type="submit" value="登録"></p>
	</form>
{% endblock %}