<!DOCTYPE html>

<body>
	<h1>
		最終問題挑戦中の方々
	</h1>
	<table border="1">

		<tbody>
			<tr><td colspan="6"><center>前</center></td></tr>
			{% for i in locations %}
				<tr>
					{% for j in i %}
						<td>
						{{ j[0] }}
						<br>
						{% if j[1] == "あなた" %}
							<font color="blue">{{ j[1] }}</font>
						{% elif j[1] =="挑戦中" %}
							<font color="red">{{ j[1] }}</font>
						{% else %}
							{{ j[1] }}
						{% endif %}
						<br>
						{{ j[2] }}
						</td>
					{% endfor %}
				</tr>
			{% endfor %}
			<tr><td colspan="6"><center>後ろ</center></td></tr>
		</tbody>
	</table>
	<a href="{{ url_for('drill.question_detail', hrno=student.hrno)}}">問題へ</a>
</body>