<!DOCTYPE html>

<body>
	<table border="1">

		<thead>
			<tr>
				{% for i in range(7) %}
					{% if i == 0%}
						<th></th>
					{% else %}
						<th>{{ i }}列目</th>
					{% endif %}
				{% endfor %}
			</tr>
		</thead>
		<tbody>
			{% for i in range(7) %}
				<tr>
					{% for j in range(-1, 6) %}
						{% if j == -1 %}
							<td>
							{{ i + 1 }}段目
							</td>
						{% else %}
							<td>
							{{ locations[i][j][0] }}
							<br>
							{{ locations[i][j][1] }}
							<br>
							{{ locations[i][j][2] }}
							</td>
						{% endif %}
					{% endfor %}
				</tr>
			{% endfor %}
		</tbody>
	</table>
	<a href="{{ url_for('summary.show_menu')}}">メニューへ</a>
</body>